DATABASE_URL='postgresql://neondb_owner:npg_2QsErmLehzv9@ep-orange-rain-aiwt4u0r-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DATABASE_ASYNC_URL=postgresql+asyncpg://neondb_owner:npg_2QsErmLehzv9@ep-orange-rain-aiwt4u0r-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SECRET_KEY=OTvtqaP8kWGzXmwL92-fKsKyVPyQbhZzE_xGnlRdvjo
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_CLIENT_ID=66376034467-5iq6p7kervdg8iqq2p5mdo2suifp6g59.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback

GMAIL_EMAIL=arbabmachi132@gmail.com
GMAIL_APP_PASSWORD=vhnwiesqnoanvxnu

TELEGRAM_BOT_TOKEN=your-telegram-bot-token

MISTRAL_BASE_URL=http://localhost:11434deeply 

ENVIRONMENT=development
DEBUG=True
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

SENTRY_DSN=https://b9ebe4f869b9dfd0040f837a7e1e8ea6@o4510869235105792.ingest.de.sentry.io/4510869239496784

LOG_LEVEL=INFO
